body{
    margin:0;
    font-family: "Commissioner", sans-serif;;
    background-color: black;
}

.header{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

hr{
    background-color: white;
    border: none;
    color: black;
    margin: 0;
    height: 2px;
    width: 100%;
}

.top{
    height: 90vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container1{
    width: 90%;
    max-width: 1200vw;
    min-height: 80vh;
    background-color: #ede1da;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
h1{
    font-size: 100px;
    margin-top: -350px;
}
.about-me{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 800px;
    gap: 40px;
}

.about-me p{
    line-height: 2.0;
}


.profile-picture{
    border-radius: 20px;
    height: 50vh;
    margin-left: -40px;
}

.bottom{
    height: 90vh;
    background-color: white;  
}

.container2{
    padding-top: 100px;
}

.product{
    display: flex;
    justify-content: center;
    gap: 30px;
}

 .item{
    width: 250px;
    text-align: left;
} 

.item img{
    width: 100%;
    display: block;
}

.item span {
    
    font-weight: bold;
    font-size:larger;
}

h2{
  margin-left: 20%;  
  font-size: 30px;
  margin-bottom: 20px;
}

